.page-header: h1 Liste des plantes
.row(ng-repeat='quadruplet in quadruplets')
	div(ng-repeat='couple in quadruplet')
		.col-sm-6.col-md-3(ng-repeat='plant in couple')
			.thumbnail(id="{{plant._id}}")
				a(href="#/plants/{{plant._id}}"): img(ng-src='/images/{{plant.image}}', alt='{{plant.name}}')
				.caption
					h3 {{plant.name}}
					p: .row
						.btn-group-vertical.col-xs-12
							a.btn.btn-default.btn-primary(role='button', href='#/plants/{{plant._id}}/edit') Modifier 
								span.glyphicon.glyphicon-edit
							button.btn.btn-danger(type='button', data-target='#deleteModal', data-toggle='modal', ng-click="delete(plant._id, plant.name)") Supprimer 
								span.glyphicon.glyphicon-trash
		.clearfix.visible-sm
a.btn.btn-primary.btn-lg.btn-block(href='#/plants/new') Ajouter une nouvelle plante 
	span.glyphicon.glyphicon-plus-sign

.modal.fade#deleteModal(aria-hidden='true', aria-labelledby='deleteModal')
	.modal-dialog
		.modal-content
			.modal-header
				button.close(id='btnCloseModal', type='button', data-dismiss='modal', aria-hidden='true') &times;
				h4.modal-title Supprimer <em>{{delName}}</em>?
			.modal-body
				p Si vous supprimer cet élément vous ne pourrez plus le récupérer par la suite&hellip;
			.modal-footer
				button.btn.btn-default(data-dismiss='modal', type='button') Fermer
				button.btn.btn-primary.btn-danger(ng-click='confirm()') Supprimer
