.jumbotron
	.row
		.col-md-8
			h1 {{plant.name}} 
				small PMUP: {{plant.pmup | currency:'MAD'}} 
			p.text-justify {{plant.desc}}
			p
				a.btn-block.btn-lg.btn.btn-primary(href='#/plants/{{plant._id}}/lots') Lots en stock 
					span.glyphicon.glyphicon-log-in
		.col-md-4
			img.img-thumbnail(ng-src="/images/{{plant.image || 'loading.gif'}}", alt="{{plant.name}}")
